<div *ngIf="loaded == 4">
    <p>{{hallId}}</p>
<mat-grid-list cols="8" rowHeight="2rem" *ngFor="let i of rows" style="width: 60%; margin-left: 20px;">
    <mat-grid-tile *ngFor="let j of cols">
        <button *ngIf="isInList(i, j)" [ngClass]="isSeatTaken(i,j) ? 'SeatTaken' : isSeatClicked(i,j) ? 
        'SeatClicked' : 'SeatAvailable' " (click)="addToReservation(i,j)">
            {{i}}:{{j}}
        </button>

    </mat-grid-tile>
</mat-grid-list>

<button (click)="makeReservation()">Make reservation with selected seats</button>

</div>