<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">imie</th>
        <th scope="col">nazwisko</th>
        <th scope="col">dodatkowe informacje</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let director of directors">
        <td>{{ director.firstname }}</td>
        <td>{{ director.surname}}</td>
        <td><button title="dowiedz się więcej" (click)="openModal('custom-modal-1', director)">informacje</button></td>
        <div>
          <jw-modal id="custom-modal-1">
            <h1>Informacje o rezyserze {{modalDirector.firstname}} {{modalDirector.surname}} </h1>
            <label>{{modalDirector.description}}</label>
            <form>
            </form>
            <button (click)="closeModal('custom-modal-1');">Zamknij</button>
          </jw-modal>
        </div>
      </tr>
      </tbody>
    </table>
  </div>
  <a routerLink="/addDirector" routerLinkActive="active"><button>Dodaj reżysera</button></a>
</div>
