<mat-toolbar color="primary" class="navbar">
  <div>Kino-live</div>
  <div>
    <div>użytkownik: {{username}}</div>
    <span class="mat-button" ><a style="color: white" routerLink="./login" routerLinkActive="active">Zaloguj</a></span>
    <span class="mat-button" ><a style="color: white" routerLink="./cinemas" routerLinkActive="active">Sprawdź kina</a></span>
    <span class="mat-button" ><a style="color: white" routerLink="./movies" routerLinkActive="active">Sprawdź filmy</a></span>
  </div>
</mat-toolbar>
