<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">tytuł</th>
        <th scope="col">reżyser</th>
        <th scope="col">gatunek</th>
        <th scope="col">ocena</th>
        <th scope="col">dodatkowe informacje</th>
        <th scope="col" *ngIf="isAdmin()">Opcje admina</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{ movie.movie_id}}</td>
        <td>{{ movie.name}}</td>
        <td>{{ movie.director}}</td>
        <td>{{ movie.category}}</td>
        <td>{{ movie.rating}}</td>
        <td><button title="informacje" (click)="openModal('custom-modal-1', movie)">informacje</button></td>
        <td *ngIf="isAdmin()"><button (click)="editMovie(movie)">Edytuj informacje</button></td>
        <div>
          <jw-modal id="custom-modal-1">
            <h1>Informacje o filmie {{modalMovie.name}}</h1>
            <label>{{modalMovie.description}}</label>
            <div style="width: 400px; height: auto">
              <img class="card-img-top" [src]="modalMovie.imageUrl" alt="there should be an image here">
            </div>
            <form>
            </form>
            <button (click)="closeModal('custom-modal-1');">Zamknij</button>
          </jw-modal>
        </div>
      </tr>
      </tbody>
    </table>
  </div>
  <a routerLink="/addMovie" routerLinkActive="active" *ngIf="isAdmin()"><button>Dodaj film</button></a>
</div>


