<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">city</th>
        <th scope="col">address</th>
        <th scope="col">opcje</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cinema of cinemas">
        <td>{{ cinema.id }}</td>
        <td>{{ cinema.name}}</td>
        <td>{{ cinema.city }}</td>
        <td>{{ cinema.address}}</td>
        <td><button title="sprawdź sale" (click)="goToSeances(cinema.id)">sprawdź seanse
        </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
